<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1661435350.8890119</real>
	<key>UUID</key>
	<string>85BEB6A4-C2F9-47BD-B233-232683239524</string>
</dict>
</plist>
